Open your cmd and type the following commends in cmd.


Type:

"pip install pyttsx3"

"pip install datetime"

"pip install speech_recognition"

"pip install wikipedia"

"pip install webbrowser"

"pip install pyjokes"

"pip install pyautogui"

Don't  want to type quotes ""